Django>=5.2,<5.3
djangorestframework>=3.16,<3.17
djangorestframework-simplejwt>=5.5,<6
django-cors-headers>=4.7,<5
Pillow>=11,<13
openai>=1.0,<3
dj-database-url>=2.3,<3
psycopg2-binary>=2.9,<3
whitenoise>=6.9,<7
gunicorn>=23,<24
python-dotenv>=1.0.1
